<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="js/scripts.js"></script>
</head>

<body class="text-muted">

  <section id="signin-section" class="signin-section container">
    <div class="container signin-container text-center">
      <form class="form-signin" method="post" th:action="@{/auth}+'?'+${_csrf.parameterName}+'='+${_csrf.token}" onsubmit="return validateSigninForm(this);">
        <h1 class="form-signin-heading">Sign In</h1>
        <small class="connect-msg">Connect with your favorite social network</small>
        <p>
          <button type="button" onclick="connectFacebook()" class="btn btn-primary social-login-btn social-facebook">
            <i class="fa fa-facebook"></i>
          </button>
          <button type="button" onclick="connectTwitter()" class="btn btn-primary social-login-btn social-twitter">
            <i class="fa fa-twitter"></i>
          </button>
          <button type="button" onclick="connectLinkedIn()" class="btn btn-primary social-login-btn social-linkedin">
            <i class="fa fa-linkedin"></i>
          </button>
          <button type="button" onclick="connectGoogle()" class="btn btn-primary social-login-btn social-google">
            <i class="fa fa-google-plus"></i>
          </button>
        </p>
        <div class="line">
          <span class="line-content">OR</span>
        </div>
        <br>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-envelope-o fa-fw"></i>
          </span>
          <input name="email" type="text" class="form-control" placeholder="Email" autofocus value="user@mail.com">
        </div>
        <p class="error"></p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-key fa-fw"></i>
          </span>
          <input name="password" type="password" class="form-control" placeholder="Password" value="123456@q">
        </div>
        <p class="error"></p>
        <button type="submit" class="btn btn-primary btn-lg btn-center btn-signin">Sign in</button>
        <small class="create-account">
          <span>Don't have an account yet? </span>
          <button type="button" class="btn btn-sm btn-default" onclick="toggleSections()"> Sign Up </button>
        </small>
      </form>
    </div>
  </section>

  <section id="signup-section" class="signup-section container" style="display: none">
    <div class="container signup-container text-center">
      <form class="form-signup" method="post" th:action="@{/registration}+'?'+${_csrf.parameterName}+'='+${_csrf.token}" onsubmit="return validateSignupForm(this);">
        <h1 class="form-signup-heading">Sign Up</h1>
        <small class="connect-msg">Create account:</small>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-envelope-o fa-fw"></i>
          </span>
          <input name="email" type="text" class="form-control" placeholder="Email" autofocus>
        </div>
        <p class="error"></p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-key fa-fw"></i>
          </span>
          <input id="sign-up-password" name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <p class="error"></p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon">
            <i class="fa fa-key fa-fw"></i>
          </span>
          <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm password">
        </div>
        <p class="error"></p>
        <div class="g-recaptcha" data-sitekey="6Lf7ghkUAAAAAHA1qsuYMC41aoAhIepNL0ipVsrn"></div>
        <button type="submit" class="btn btn-primary btn-lg btn-center btn-signin">Sign Up</button>
        <small class="create-account">
          <span>Already have an account? </span>
          <button type="button" class="btn btn-sm btn-default" onclick="toggleSections()"> Sign In </button>
        </small>
      </form>
    </div>
  </section>

</body>

</html>