<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body class="text-muted">

  <h1 th:text="'Current user email: ' + ${email}"></h1>

</body>

</html>